/********************************************************/
html,body {width:100%;height:100%}
body{
	background: #333 url("../images/bg.jpg");
}
/********************************************************/
/*[ wrappers ]*******************************************/
/********************************************************/
.window {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0,0,0,0.6);
	z-index: 10;
	overflow: auto;
}
.hWrapper{
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	max-width: 1200px;
	display: block;
}
.vWrapper{
	font-size: 0px;
	line-height: 0px;
	height: 100%;
	display: block;
}
.vWrapper:before{
	content: ' ';
	height: 50%;
	display: inline-block;
}
.vWrapper > .vContent{
	margin: -50% 0;
	font-size: 16px;
	line-height: 1.2;
	vertical-align: middle;
	width: 100%;
	max-height: 100%;
	display: inline-block;
}
.vWrapper > .vContent:before,
.vWrapper > .vContent:after{
	content:' ';
	width: 100%;
	height: 20px;
	display: block;
	clear: both;
}
/********************************************************/
/*[ boodstrap ]******************************************/
/********************************************************/
.thumbnail.active {
	background: rgba(51, 122, 183, 1);
	box-shadow: 0 1px 2px rgba(0, 71, 132, 0.075);
}